<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link href="{{ "fonts/google-fonts.css" | relURL }}" rel='stylesheet' type='text/css'>
    <link href="{{ "tutorial/layout.css" | relURL }}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>

<body>

  <div id="title" style="background: white; opacity: 1;">
    <a href="{{ .Parent.RelPermalink }}"><i class="fas fa-times"></i></a>
    <span>{{ .Title }}</span>
  </div>

  <div class="row" style="margin: 0px;">
    <div id="tocPlaceholder" class="col col-2">
      <!-- Placeholder for navbar -->
    </div>
    <div class="col">
      <div id="content">
        {{ $sectionId := 0 }}
        {{ range where (sort .Pages "File.Path") "Params.type" "ne" "presentation" }}
            <div class="section" data-section-id="{{ $sectionId }}">
              <div class="anchorContainer">
                <a id="section-{{ $sectionId }}">&nbsp;</a>
              </div>
              <div data-section-id="{{ $sectionId }}">
                <div class="card">
                  <h1 class="card-title">{{ .Title }}</h1>
                  <div class="card-body">
                      {{ .Content }}
                  </div>
                </div>
              </div>
            </div>
            {{ $sectionId = add $sectionId 1 }}
        {{ end }}
        <div class="sectionStepper">
          <div class="d-flex justify-content-between">
            <div>
              <button type="button" class="goToPreviousSection btn btn-secondary" onclick="goToPreviousSection()">{{ i18n "tutorial.back" }}</button>
            </div>
            <div>
              <a id="finish" class="btn btn-success float-right" href="{{ .Parent.RelPermalink }}">{{ i18n "tutorial.done" }}</a>
              <button id="start" type="button" class="btn btn-success float-right" onclick="goToNextSection()">{{ i18n "tutorial.start" }}</button>
              <button type="button" class="goToNextSection btn btn-primary float-right" onclick="goToNextSection()">{{ i18n "tutorial.continue" }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="toc">
    {{ $sectionId := 0 }}
    {{ range where (sort .Pages "File.Path") "Params.type" "ne" "presentation" }}
      <div class="sectionLink card" data-section-id="{{ $sectionId }}">
        <a href="#section-{{ $sectionId }}" onclick="setActiveSection({{ $sectionId }})">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                {{ if eq $sectionId 0 }}
                  <div class="col-md-10">
                    {{ .Title }}
                  </div>
                {{ else }}
                  <div class="col-md-2">
                    <span class="dot">{{ $sectionId }}</span>
                  </div>
                  <div class="col-md-10">
                    {{ .Title }}
                  </div>
                {{ end }}
               </div>
            </div>
          </div>
        </a>
      </div>
      {{ $sectionId = add $sectionId 1 }}
    {{ end }}
  </div>

  <div id="feedback">
    {{ if .Site.Params.FeedbackLink }}
      <a class="btn btn-info" href="{{ .Site.Params.FeedbackLink }}" target="_blank">
        {{ if .Site.Params.FeedbackIcon }}
          <i class="{{ .Site.Params.FeedbackIcon }}"></i>
        {{ end }}
        {{ i18n "tutorial.support" }}
      </a>
    {{ end }}
  </div>



  <script src="{{ "tutorial/toc.js" | relURL }}" type="application/javascript"></script>

  <script src="{{ "medium-zoom/medium-zoom.min.js" | relURL }}"></script>
  <script>
    mediumZoom(document.querySelectorAll('img'), {
      scrollOffset: 0,
    });
  </script>

  <script>

  </script>

</body>

</html>
