---
title: Domain Beanspruchung
---

Um gegenüber von Google Shopping zu versichern, dass Sie der Besitzer Ihrer Shop von der Domain sind auf die Ihre Produktanzeigen verlinken werden, muss ein Verifizierungsprozess durchlaufen werden. Dies passiert automatisch im Hintergrund nach dem Anlegen von Ihrem Account.

![](img/domain-beanspruchung.png)

{{< warning >}}
Falls es zu einem Fehler bei der Beanspruchung der Shop-Domain gekommen ist, wenden Sie sich bitte an den [Support](mailto:info@epages.com).
{{< /warning >}}

